<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="practica_customercode" frontName="practica_customercode">
            <!--module name="Practica_CustomerCode" before="Magento_Backend" /-->
            <module name="Practica_CustomerCode" before="Magento_Backend"/>
        </route>
    </router>
</config>
