<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customerpurchasesmodule" translate="label" sortOrder="300">
            <label>Mis Modulos Custom</label>
        </tab>
        <section id="cuspursection" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Purchases</label>
            <tab>customerpurchasesmodule</tab>
            <resource>Practica_CustomerPurchases::helloworld_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
